@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Exo+2);
/*Custom*/

body {
  padding-top:50px;
  font-family: 'Raleway', sans-serif;
  color:#d6f5c2;
  line-height: 22px;
  background: #5d5656;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; 
  color:#ea6969;
}

h1{
  font-size: 46px;
  color:#f0c25a;
}

a { 
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
    color: #78debf;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #317cd4;
}

p{
  margin-top: 20px;
}
#navtabs {
  color: #fff;
  border-radius: 4px;
  border:none;

}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #2b2c33;
  padding: 15px 0;
  padding-bottom: 23px;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 55px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  font-size: 18px;
}
.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #ebeb96;
  color: #3c3939;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

#contentPage{
  margin-top: 2.5em;
}

.form-control{
  background-color: #063645;
  color: #caffad;
}

.btn-primary[disabled]{
  color:#454242;
  background-color:#F4C997;
  border: none;
  opacity: 0.5;
}

.btn-primary{
  color:#454242;
  background-color:#F4C997;
  border: none;
}

.btn-primary:hover{
  color:black;
  background-color: #ebeb96;
  border: none;
}

/*Original*/
.glyphicon-remove:hover {
  cursor:pointer;
}

a[ui-sref], a[ng-really-click] {
  cursor: pointer;
}




