<h1>Create a Blog Post!</h1>
<hr>
<form name="PostCreate.postForm" novalidate ng-submit="PostCreate.addPost()">
  <div class="form-group"
       ng-class="{'has-error': PostCreate.postForm.title.$invalid
         && PostCreate.postForm.title.$dirty}">
    <input type="text" class="form-control" name="title"
           placeholder="Title" autocomplete="off" required
           ng-model="PostCreate.newPost.title">
    <span class="has-error control-label"
          ng-show="PostCreate.postForm.title.$invalid && PostCreate.postForm.title.$dirty">
      Title is required
    </span>
  </div>
  <div class="form-group"
       ng-class="{'has-error': PostCreate.postForm.content.$invalid
         && PostCreate.postForm.content.$dirty}">
    <textarea class="form-control" name="content"
             placeholder="Write your thoughts here..."               
             autocomplete="off" required rows="12"
             ng-model="PostCreate.newPost.content"></textarea>
    <span class="has-error control-label"
          ng-show="PostCreate.postForm.content.$invalid 
            && PostCreate.postForm.content.$dirty">
      Content is required
    </span>
  </div>
  <button class="btn btn-primary" ng-disabled="PostCreate.postForm.$invalid">
    Create
  </button>
</form>