<h1>Edit a Blog Post</h1>
<hr>
<form name="postForm" novalidate ng-submit="editPost(newPost)">
  <div class="form-group"
       ng-class="{'has-error': postForm.title.$invalid
         && postForm.title.$dirty}">
    <input type="text" class="form-control" name="title"
           placeholder="Title" autocomplete="off" required
           ng-model="newPost.title">
    <span class="has-error control-label"
          ng-show="postForm.title.$invalid && postForm.title.$dirty">
      Title is required
    </span>
  </div>
  <div class="form-group"
       ng-class="{'has-error': postForm.content.$invalid
         && postForm.content.$dirty}">
    <textarea class="form-control" name="content"
              placeholder="Write your thoughts here..."               
              autocomplete="off" required rows="12"
              ng-model="newPost.content"></textarea>
    <span class="has-error control-label"
          ng-show="postForm.content.$invalid 
            && postForm.content.$dirty">
      Content is required
    </span>
  </div>
  <button class="btn btn-primary" ng-disabled="postForm.$invalid">
    Edit!
  </button>
</form>