<h1>Login!</h1>
<hr>
<p ng-if="Login.loginFail" class="alert alert-danger">Login Failed!</p>
<form name="Login.loginForm" novalidate ng-submit="Login.login()">
  <div class="form-group"
       ng-class="{'has-error': Login.loginForm.email.$invalid
         && Login.loginForm.email.$dirty}">
    <input type="text" class="form-control" name="email"
           placeholder="Email..." autocomplete="on" required
           ng-model="Login.user.email">
    <span class="has-error control-label"
          ng-show="Login.loginForm.email.$invalid
          && Login.loginForm.email.$dirty">
      Email is required
    </span>
  </div>
  <div class="form-group"
       ng-class="{'has-error': Login.loginForm.password.$invalid
         && Login.loginForm.password.$dirty}">
    <input type="password" class="form-control" name="password"
             placeholder="Password..."               
             autocomplete="off" required rows="12"
             ng-model="Login.user.password">
    <span class="has-error control-label"
          ng-show="Login.loginForm.password.$invalid 
            && Login.loginForm.password.$dirty">
      Password is required
    </span>
  </div>
  <button class="btn btn-primary" ng-disabled="Login.loginForm.$invalid">
    Login
  </button>
</form>